{#
/**
 * @file
 * Callout cards pattern.
 */
#}
{#
  Center the container if variant is true by including the library/css and adding
  a class to the main wrapping div.
#}
{% if variants.centered_container %}
  {{ attach_library('stanford_components/component_centered_container') }}
  {% set attributes = attributes.addClass('component-centered-container') %}
{% endif %}
{#
  Add my attributes.
#}
{% set attributes = attributes.addClass('section-callout-cards') %}

{% set header_vars = {
'superhead': superhead,
'subhead': subhead,
'context': context
} %}

<div{{ attributes }}>
  <div class="callout-cards__header">
    {{ pattern("section_header", header_vars) }}
  </div>

  <div class="callout-cards__container">
    <div class="callout-cards">
      {# Break up the individual items in to the appropriate template var. #}
      {% if items.0 and items.0.title %}
        {% for item in items %}
          {{ pattern('callout_card', item) }}
        {% endfor %}
      {% else %}
        {{ items }}
      {% endif %}
    </div>
  </div>
</div>
