{#
/**
* @file
* Default theme implementation for the basic structure of the global stanford footer
*/
#}

<footer id="footer__container">
  <section class="contact-footer" style="background-image:url('{{ base_path ~ directory }}/img/optimized/footer-bg.png')";>
    <div class="contact-footer__brand">
      {{ drupal_block('matson_branding')|render|preg_replace("block-matson-branding", "footer__block-matson-branding")|raw }}
    </div>
    <div class="contact-footer__social">
      <h2>{{ 'Join us on Social Media'|trans }}</h2>
      <ul class="social-links">
        <li><a href="https://twitter.com/stanfordearth"><span class="visually-hidden">Twitter</span>
          <svg class="i-svg i-svg--twitter is-white" role="img"><title>{{ 'Twitter'|t }}</title><use xlink:href="#i-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </a></li>
        <li><a href="https://www.facebook.com/stanfordearth"><span class="visually-hidden">Facebook</span>
          <svg class="i-svg i-svg--fb is-white" role="img"><title>{{ 'Facebook'|t }}</title><use xlink:href="#i-fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a></li>
          <li><a href="https://www.instagram.com/stanfordearth/"><span class="visually-hidden">Instagram</span>
            <svg class="i-svg i-svg--instagram is-white" role="img"><title>{{ 'Instagram'|t }}</title><use xlink:href="#i-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
          </a></li>
        </ul>
    </div>
    <div class="contact-footer__links">
      <h2>{{ 'Links'|trans }}</h2>
      {{ drupal_menu('footer') }}
    </div>
    <div class="contact-footer__subscribe">
      <h2>{{ 'Subscribe to Earth Matters'|trans }}</h2>
      <p>{{ 'Our Monthly Research News Alert'|trans }}</p>
      <div id="mc_embed_signup">
        <form action="//stanford.us7.list-manage.com/subscribe/post?u=167e9da7acec83c4cc802b3e7&amp;id=69d6fa9e3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-form" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email email-input" id="mce-EMAIL" class="email-input" placeholder="name@stanford.edu" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_167e9da7acec83c4cc802b3e7_69d6fa9e3a" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="{{ 'Join'|trans }}" id="mc-embedded-subscribe" class="button button__hollow"></div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section id="footer__global-footer">
    <div class="global-footer__inner">
      <div id="global-footer__brand">
        <object alt="Stanford University" data="{{ base_path ~ directory }}/assets/svg/su_sig_stack_linked.svg" height="49" tabindex="-1" width="105">Stanford University Logo</object>
      </div>

      <div id="global-footer__nav" role="navigation">
        <nav id="nav__global-links">
          <a href="https://www.stanford.edu">Stanford Home</a>
          <a href="https://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
          <a href="https://stanford.edu/search/">Search Stanford</a>
          <a href="https://www.stanford.edu/site/terms.html">Terms of Use</a>
          <a href="https://emergency.stanford.edu/">Emergency Info</a>
        </nav>
      </div>

      <div id="global-footer__info">
        <span class="vcard">©
          <span class="fn org">Stanford University</span>.
          <span class="adr">
            <span class="locality">Stanford</span>,
            <span class="region">California</span>
            <span class="postal-code">94305</span>.
          </span>
          <span class="copyright-links">
            <a href="http://www.stanford.edu/site/privacy.html">Privacy Policy</a>
            <a href="https://uit.stanford.edu/security/copyright-infringement">Copyright Complaints</a>
            <a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4">Trademark Notice</a>
          </span>
        </span>
      </div>
    </div>
  </section>
</footer>

<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img">
  <defs>
    <symbol id="i-mail" viewBox="0 0 18 13">
      <title>{{ 'mail'|t }}</title>
      <path d="M0 0v0 0 13h18v-13h-18zM1.8 1h14.5l-5.6 5.7-1.5 1.4c-0.1 0.1-0.3 0.1-0.4 0l-1.4-1.4-5.6-5.7zM1 1.7l4.9 5-4.9 4.7v-9.7zM1.8 12l4.8-4.6 1.5 1.5c0.3 0.2 0.6 0.3 0.9 0.3s0.6-0.1 0.9-0.4l1.5-1.5 4.8 4.6h-14.4zM17 11.4l-4.9-4.7 4.9-5v9.7z"></path>
    </symbol>
    <symbol id="i-linkedin" viewBox="0 0 13 13">
      <title>{{ 'linkedin'|t }}</title>
      <path d="M1.6 0.2c0.9 0 1.6 0.7 1.6 1.6s-0.8 1.6-1.6 1.6c-0.9 0-1.6-0.7-1.6-1.6s0.7-1.6 1.6-1.6v0z"></path>
      <path d="M2.5 13h-1.8c-0.2 0-0.4-0.2-0.4-0.4v-7.9c0-0.2 0.2-0.4 0.4-0.4h1.8c0.2 0 0.4 0.2 0.4 0.4v7.9c0 0.2-0.2 0.4-0.4 0.4v0z"></path>
      <path d="M13 7c0-1.6-1.2-3-2.9-3h-0.5c-0.9 0-1.7 0.5-2.2 1.2-0.2 0.1-0.2 0.2-0.2 0.2v-0.9c0-0.1-0.1-0.2-0.2-0.2h-2.3c-0.1 0-0.2 0.1-0.2 0.2v8.4c0 0.1 0.1 0.2 0.2 0.2h2.5c0.1 0 0.2-0.1 0.2-0.2v-4.9c0-0.8 0.6-1.5 1.5-1.5 0.4 0 0.8 0.2 1.1 0.4 0.3 0.3 0.4 0.7 0.4 1.1v4.8c0 0.1 0.1 0.2 0.2 0.2h2.2c0.1 0 0.2-0.1 0.2-0.2v-5.8z"></path>
    </symbol>
    <symbol id="i-double-carrot-left" viewBox="0 0 13 13">
      <title>{{ 'double carrot left'|t }}</title>
      <path d="M12.2 0c0.1 0 0.3 0.1 0.4 0.2 0.2 0.2 0.2 0.6 0 0.8l-5.4 5.4 5.4 5.4c0.2 0.2 0.2 0.6 0 0.8s-0.6 0.2-0.8 0l-5.8-5.9c-0.2-0.2-0.2-0.6 0-0.8l5.7-5.7c0.2-0.2 0.3-0.2 0.5-0.2z"></path>
      <path d="M6.7 0c0.1 0 0.3 0.2 0.4 0.2 0.2 0.2 0.2 0.6 0 0.8l-5.4 5.5 5.4 5.4c0.2 0.2 0.2 0.6 0 0.8s-0.6 0.2-0.8 0l-5.8-5.8c-0.2-0.2-0.2-0.6 0-0.8l5.7-5.7c0.2-0.4 0.4-0.4 0.5-0.4z"></path>
    </symbol>
    <symbol id="i-arrow-left" viewBox="0 0 24 13">
      <title>{{ 'arrow left'|t }}</title>
      <path d="M5.9 0.6c0.1 0 0.3 0.1 0.4 0.2 0.2 0.2 0.2 0.5 0 0.8l-4.4 4.4 21.6 0.1c0.1 0 0.3 0.1 0.4 0.2s0.1 0.2 0.1 0.3c0 0.3-0.2 0.5-0.5 0.5l-21.6-0.1 4.4 4.4c0.2 0.2 0.2 0.5 0 0.8-0.2 0.2-0.5 0.2-0.8 0l-5.3-5.3c-0.1-0.1-0.2-0.3-0.2-0.4s0.1-0.3 0.2-0.4l5.3-5.3c0.1-0.1 0.3-0.2 0.4-0.2z"></path>
    </symbol>
    <symbol id="i-double-carrot" viewBox="0 0 13 13">
      <title>{{ 'double carrot'|t }}</title>
      <path d="M0.9 12.8c-0.1 0-0.3-0.1-0.4-0.2-0.2-0.2-0.2-0.6 0-0.8l5.4-5.3-5.4-5.4c-0.2-0.2-0.2-0.6 0-0.8s0.6-0.2 0.8 0l5.8 5.9c0.2 0.2 0.2 0.6 0 0.8l-5.7 5.7c-0.2 0.1-0.3 0.1-0.5 0.1z"></path>
      <path d="M6.4 12.8c-0.1 0-0.3-0.1-0.4-0.2-0.2-0.2-0.2-0.6 0-0.8l5.4-5.4-5.4-5.4c-0.2-0.2-0.2-0.6 0-0.8s0.6-0.2 0.8 0l5.8 5.8c0.2 0.2 0.2 0.6 0 0.8l-5.7 5.7c-0.2 0.3-0.4 0.3-0.5 0.3z"></path>
    </symbol>
    <symbol id="i-player" viewBox="0 0 13 13">
      <title>{{ 'player'|t }}</title>
      <path fill="none" stroke="#fff" stroke-width="0.2196" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color1, #fff)" d="M9.6 6.5l-4.5 3.1v-6.2l4.5 3.1z"></path>
      <path fill="none" stroke="#fff" stroke-width="0.2196" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" style="stroke: var(--color1, #fff)" d="M12.8 6.5c0 3.4-2.8 6.3-6.3 6.3s-6.3-2.9-6.3-6.3 2.8-6.3 6.3-6.3 6.3 2.8 6.3 6.3z"></path>
    </symbol>
    <symbol id="i-instagram" viewBox="0 0 13 13">
      <title>{{ 'instagram'|t }}</title>
      <path d="M10.8 2.6c0-0.3-0.3-0.6-0.6-0.6s-0.6 0.3-0.6 0.6 0.3 0.6 0.6 0.6c0.3 0 0.6-0.3 0.6-0.6z"></path>
      <path d="M6.6 9.1c-1.4 0-2.6-1.2-2.6-2.5s1.2-2.6 2.6-2.6 2.5 1.2 2.5 2.5-1.2 2.6-2.5 2.6zM6.6 2.9c-2 0-3.6 1.6-3.6 3.6s1.6 3.6 3.6 3.6 3.6-1.6 3.6-3.6-1.6-3.6-3.6-3.6z"></path>
      <path d="M11.8 10.3c0 0.9-0.7 1.6-1.6 1.6h-7.5c-0.9 0-1.6-0.7-1.6-1.6v-7.6c0-0.9 0.7-1.6 1.6-1.6h7.5c0.9 0 1.6 0.7 1.6 1.6v7.6zM10.1 0.1h-7.2c-1.5 0-2.8 1.3-2.8 2.8v7.3c0 1.5 1.3 2.8 2.8 2.8h7.3c1.5 0 2.8-1.3 2.8-2.8v-7.3c-0.1-1.6-1.3-2.8-2.9-2.8v0z"></path>
    </symbol>
    <symbol id="i-close" viewBox="0 0 13 13">
      <title>{{ 'close'|t }}</title>
      <path d="M7.1 6.5l5.8-5.8c0.2-0.2 0.2-0.4 0-0.6s-0.4-0.2-0.6 0l-5.8 5.8-5.8-5.8c-0.2-0.1-0.4-0.1-0.6 0-0.1 0.2-0.1 0.4 0 0.6l5.8 5.8-5.8 5.8c-0.2 0.2-0.2 0.4 0 0.6s0.4 0.2 0.6 0l5.8-5.8 5.8 5.8c0.2 0.2 0.4 0.2 0.6 0s0.2-0.4 0-0.6l-5.8-5.8z"></path>
    </symbol>
    <symbol id="i-carrot" viewBox="0 0 13 13">
      <title>{{ 'carrot'|t }}</title>
      <path d="M6.522 8.896l-6.010-6.010c-0.141-0.141-0.283-0.141-0.424 0s-0.141 0.283 0 0.424l6.223 6.223c0.071 0.071 0.141 0.141 0.212 0.071s0.141 0 0.212-0.071l6.152-6.152c0.141-0.141 0.141-0.283 0-0.424s-0.283-0.141-0.424 0l-5.94 5.94z"></path>
    </symbol>
    <symbol id="i-quote" viewBox="0 0 20 13">
      <title>{{ 'quote'|t }}</title>
      <path d="M8.7 0c-4.8 0-8.7 3.9-8.7 8.7 0 0 0 0 0 0.1 0 0 0 0.1 0 0.2 0 2.2 1.8 4 4 4s4-1.8 4-4c0-2.2-1.8-4-4-4-0.8 0-1.5 0.2-2.1 0.6 1.2-2.6 3.8-4.4 6.8-4.4 0.3 0 0.6-0.2 0.6-0.6 0-0.3-0.3-0.6-0.6-0.6z"></path>
      <path d="M19.2 0c-4.8 0-8.7 3.9-8.7 8.7 0 0 0 0 0 0.1s0 0.2 0 0.2c0 2.2 1.8 4 4 4s4-1.8 4-4c0-2.2-1.8-4-4-4-0.8 0-1.5 0.2-2.1 0.6 1.2-2.5 3.7-4.3 6.7-4.3 0.3 0 0.6-0.3 0.6-0.6 0.1-0.4-0.2-0.7-0.5-0.7z"></path>
    </symbol>
    <symbol id="i-fb" viewBox="0 0 13 13">
      <title>{{ 'facebook'|t }}</title>
      <path d="M7.2 13h-2.8v-6.1h-1.4v-2.4h1.4v-1.4c0-1.9 0.8-3.1 3-3.1h1.9v2.4h-1.2c-0.9 0-0.9 0.3-0.9 0.9v1.2h2.1l-0.2 2.4h-1.9v6.1z"></path>
    </symbol>
    <symbol id="i-twitter" viewBox="0 0 16 13">
      <title>{{ 'twitter'|t }}</title>
      <path d="M16 1.5c-0.6 0.3-1.2 0.4-1.9 0.5 0.7-0.4 1.2-1.1 1.4-1.8-0.6 0.4-1.3 0.6-2.1 0.8-0.6-0.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 0.3 0 0.5 0.1 0.7-2.7-0.1-5.2-1.4-6.8-3.4-0.3 0.5-0.4 1-0.4 1.7 0 1.1 0.6 2.1 1.5 2.7-0.5 0-1-0.2-1.5-0.4v0c0 1.6 1.1 2.9 2.6 3.2-0.3 0.1-0.6 0.1-0.9 0.1-0.2 0-0.4 0-0.6-0.1 0.4 1.3 1.6 2.3 3.1 2.3-1.1 0.9-2.5 1.4-4.1 1.4-0.3 0-0.5 0-0.8 0 1.5 1 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3 0-0.1 0-0.3 0-0.4 0.7-0.5 1.3-1.1 1.7-1.8v0z"></path>
    </symbol>
    <symbol id="i-plus" viewBox="0 0 13 13">
      <title>{{ 'plus'|t }}</title>
      <path d="M13 13h-13v-13h13v13zM0.65 12.35h11.7v-11.7h-11.7v11.7z"></path>
      <path d="M6.5 10.075c-0.195 0-0.325-0.13-0.325-0.325v-6.5c0-0.195 0.13-0.325 0.325-0.325s0.325 0.13 0.325 0.325v6.5c0 0.195-0.13 0.325-0.325 0.325z"></path>
      <path d="M9.75 6.825h-6.5c-0.195 0-0.325-0.13-0.325-0.325s0.13-0.325 0.325-0.325h6.5c0.195 0 0.325 0.13 0.325 0.325s-0.13 0.325-0.325 0.325z"></path>
    </symbol>
    <symbol id="i-minus" viewBox="0 0 13 13">
      <title>{{ 'minus'|t }}</title>
      <path d="M13 13h-13v-13h13v13zM0.65 12.35h11.7v-11.7h-11.7v11.7z"></path>
      <path d="M9.75 6.825h-6.5c-0.195 0-0.325-0.13-0.325-0.325s0.13-0.325 0.325-0.325h6.5c0.195 0 0.325 0.13 0.325 0.325s-0.13 0.325-0.325 0.325z"></path>
    </symbol>
    <symbol id="i-search" viewBox="0 0 13 13">
      <title>{{ 'search'|t }}</title>
      <path d="M12.6 12l-3.2-3.3c0.8-0.9 1.3-2.1 1.3-3.4 0-3-2.4-5.3-5.2-5.3-2.9 0-5.3 2.3-5.3 5.2s2.3 5.2 5.2 5.2c1.2 0 2.2-0.4 3.1-1l3.3 3.4c0.1 0.1 0.3 0.2 0.4 0.2s0.3-0.1 0.4-0.2c0.2-0.2 0.2-0.5 0-0.8zM1.4 5.2c0-2.3 1.8-4.1 4.1-4.1s4.1 1.9 4.1 4.1c0 2.3-1.8 4.1-4.1 4.1s-4.1-1.8-4.1-4.1z"></path>
    </symbol>
    <symbol id="i-menu" viewBox="0 0 13 13">
      <title>{{ 'menu'|t }}</title>
      <path d="M0 1.1h13v1.2h-13v-1.2z"></path>
      <path d="M0 5.9h13v1.2h-13v-1.2z"></path>
      <path d="M0 10.8h13v1.2h-13v-1.2z"></path>
    </symbol>
    <symbol id="i-arrow" viewBox="0 0 24 13">
      <title>{{ 'arrow'|t }}</title>
      <path d="M18.1 12.4c-0.1 0-0.3-0.1-0.4-0.2-0.2-0.2-0.2-0.5 0-0.8l4.4-4.4-21.6-0.1c-0.1 0-0.3-0.1-0.4-0.2s-0.1-0.2-0.1-0.3c0-0.3 0.2-0.5 0.5-0.5l21.6 0.1-4.4-4.4c-0.2-0.2-0.2-0.5 0-0.8 0.2-0.2 0.5-0.2 0.8 0l5.3 5.3c0.1 0.1 0.2 0.3 0.2 0.4s-0.1 0.3-0.2 0.4l-5.3 5.3c-0.1 0.1-0.3 0.2-0.4 0.2z"></path>
    </symbol>
    <symbol id="i-cloud" viewBox="0 0 13 13">
      <title>{{ 'cloud'|t }}</title>
      <path d="M9.4 4.9c-0.4 0-0.7 0.3-0.7 0.7s0.3 0.7 0.7 0.7 0.7-0.3 0.7-0.7c0-0.3-0.3-0.7-0.7-0.7zM6.5 4.9c-0.4 0-0.7 0.3-0.7 0.7s0.3 0.7 0.7 0.7c0.4 0 0.7-0.3 0.7-0.7 0-0.3-0.3-0.7-0.7-0.7zM3.6 4.9c-0.4 0-0.7 0.3-0.7 0.7s0.3 0.7 0.7 0.7c0.4 0 0.7-0.3 0.7-0.7 0.1-0.3-0.3-0.7-0.7-0.7zM6.5 10.9c-0.4 0-0.8 0-1.2-0.1-0.2 0.3-0.6 0.6-1 1-1.4 1-3.6 0.6-3.6 0.6s1.1-1.2 1.4-2.8c-1.2-1-2.1-2.4-2.1-3.9 0-2.9 2.9-5.2 6.5-5.2s6.5 2.3 6.5 5.2c0 2.9-2.9 5.2-6.5 5.2z"></path>
    </symbol>
    <symbol id="i-clock" viewBox="0 0 13 13">
      <title>{{ 'clock'|t }}</title>
      <path d="M8.2 8.6l-2-1.3c-0.3-0.2-0.5-0.5-0.4-0.8v-2.2c0-0.4 0.3-0.7 0.7-0.7s0.7 0.3 0.7 0.7v1.7l1.8 1.1c0.4 0.2 0.5 0.7 0.3 1.1s-0.7 0.6-1.1 0.4zM6.5 1.4c-2.8 0-5.1 2.3-5.1 5.1s2.3 5.1 5.1 5.1 5.1-2.3 5.1-5.1-2.3-5.1-5.1-5.1zM6.5 13c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5z"></path>
    </symbol>
  </defs>
</svg>
