{#
/**
 * @file
 * Section header.
 */
#}

{#
  Center the container if variant is true by including the library/css and adding
  a class to the main wrapping div.
#}
{% if variants.centered_container %}
  {{ attach_library('stanford_components/component_centered_container') }}
  {% set attributes = attributes.addClass('component-centered-container') %}
{% endif %}

{% set attributes = attributes.addClass(['section-header', variants.is_centered, variants.dash_under]) %}

{% set h2classes = ['drop-cap-title', variants.dash_under, variants.is_featured] %}

<header{{ attributes }}>
  <h2{{ create_attribute({'class': h2classes}) }}>
    <span class="drop-cap-title__name">{{ superhead }}</span>
    <span class="drop-cap-title__drop-cap" aria-hidden="true">{{ superhead|first_char }}</span>
  </h2>
  {% if subhead %}
    {{ subhead|raw }}
  {% endif %}
  {% if link %}
    {{ link }}
  {% endif %}
</header>
