{% extends '@matson/page.html.twig' %}
{% block main_content %}
  {#
    You can work within the block wrapper. If you need acces to more of the
    template we can add more blocks. Just ask.
  #}

  {# left aligned #}
  <div class="content-type__media-container right-align-media">
    <nav aria-label="You are here:" role="navigation" class="breadcrumbs-container">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a>/</li>
        <li><a href="#">Features</a>/</li>
        <li>
          Cloning
        </li>
      </ul>
    </nav>

    <div class="content-type__media">
      <figure><img src="http://via.placeholder.com/500x266"></figure>
    </div>

    <div class="content-type__header">
      <div class="page-title"><h1>Tile or Headline would go here</h1></div>
      <div class="page-subtitle">
        <h2>
          Sponsor or Important Details Could Go Here
        </h2>
      </div>
      <div class="content-type-date">
        <span>Published</span>
        <time>August 2017</time>
        <div class="content-type-date__actions social-actions">
          <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'mail'|t }}</title><use xlink:href="#i-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
          <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'linkedin'|t }}</title><use xlink:href="#i-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
          <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'twitter'|t }}</title><use xlink:href="#i-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
          <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'facebook'|t }}</title><use xlink:href="#i-fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        </div>
      </div>
    </div>

  </div>

  {{ page.content }}

  <div class="block-matson-content">
    <dl class="definition-list">
      <dt>When:</dt>
      <dd>
        Ongoing every weekday (M-F) from September 5, 2017 through September 15, 2017.
      </dd>
      <dt>Where:</dt>
      <dd>
        Various
      </dd>
      <dt>Tags:</dt>
      <dd>
        Health / Wellness Recreation / Sport
      </dd>
      <dt>Audience:</dt>
      <dd>
        Faculty/Staff, Students
      </dd>
      <dt>More Info:</dt>
      <dd>
        <a href="#">Visit the website</a>
      </dd>
    </dl>

    <div class="content-type__timestamp">Last modified September 9, 2017.</div>
  </div>

{% endblock %}
