{# left aligned #}
<div class="content-type__media-container right-align-media">
  <div class="content-type__media">
    <figure>{{ featured_image }}</figure>
    <div class="content-type-date">
      <div class="content-type-date__actions social-actions">
        <div class="getsocial gs-inline-group"></div>
      </div>
    </div>
  </div>

  <div class="content-type__header">
    <div class="page-title"><h1>{{ title }}</h1></div>
      {% if sub_title is not empty %}
      <div class="page-subtitle">
        <h2>
          {{ sub_title }}
        </h2>
      </div>
      {% endif %}
      <dl class="definition-list">
        {% if when|render|striptags|trim is not empty %}
        <dt>{{ 'When'|t }}:</dt>
        <dd>
          {{ when }}
        </dd>
        {% endif %}
        {% if where|render|striptags|trim is not empty %}
        <dt>{{ 'Where'|t }}:</dt>
        <dd>
          {{ where }}
        </dd>
        {% endif %}
        {% if tags|render|striptags|trim is not empty %}
        <dt>{{ 'Tags'|t }}:</dt>
        <dd>
        {% if tags is iterable %}
        {% set rendered_tags = "" %}
          {% for field in tags %}
            {% for key, item in field if key|first != '#' %}
              {% set rendered_tags = rendered_tags ~ "#{item|render}, "  %}
            {% endfor %}
          {% endfor %}
          {{ rendered_tags|trim|slice(0, -1)|raw }}
        {% else %}
          {{ tags }}
        {% endif %}
        </dd>
        {% endif %}
        {% if more_info|render|striptags|trim is not empty %}
        <dt>{{ 'More Info'|t }}:</dt>
        <dd>
          {{ more_info }}
        </dd>
        {% endif %}
        {% if audience|render|striptags|trim is not empty %}
        <dt>{{ 'Audience'|t }}:</dt>
        <dd>
          {{ audience }}
        </dd>
        {% endif %}
        {% if sponsor|render|striptags|trim is not empty %}
        <dt>{{ 'Sponsor'|t }}:</dt>
        <dd>
          {{ sponsor }}
        </dd>
        {% endif %}
      </dl>

  </div>

</div>

<div class="block-matson-content">

  {% if description|render|striptags|trim is not empty %}
  <div class="content-description lead-text">
    {{ description }}
  </div>
  {% endif %}

  {{ content }}
</div>
