{# left aligned #}
<div class="content-type__media-container right-align-media">
  <div class="content-type__media">
    <figure>{{ featured_image }}</figure>
  </div>

  <div class="content-type__header">
    <div class="page-title"><h1>{{ title }}</h1></div>
    {% if sub_title is not empty %}
    <div class="page-subtitle">
      <h2>
        {{ sub_title }}
      </h2>
    </div>
    {% endif %}
    <div class="content-type-date">
      <span>{{ 'Published'|t }}</span>
      <time>{{ created }}</time>
      <div class="content-type-date__actions social-actions">
        <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'mail'|t }}</title><use xlink:href="#i-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'linkedin'|t }}</title><use xlink:href="#i-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'twitter'|t }}</title><use xlink:href="#i-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
        <a href="#" class="content-type-date__action"><svg class="i-svg" role="img"><title>{{ 'facebook'|t }}</title><use xlink:href="#i-fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
      </div>
    </div>
  </div>

</div>

<div class="block-matson-content">

  {% if description is not empty %}
  <div class="content--description">
    {{ description }}
  </div>
  {% endif %}

  <dl class="definition-list">
    {% if when is not empty %}
    <dt>{{ 'When'|t }}:</dt>
    <dd>
      {{ when }}
    </dd>
    {% endif %}
    {% if where is not empty %}
    <dt>{{ 'Where'|t }}:</dt>
    <dd>
      {{ where }}
    </dd>
    {% endif %}
    {% if tags is not empty %}
    <dt>{{ 'Tags'|t }}:</dt>
    <dd>
    {% if tags is iterable %}
    {% set rendered_tags = "" %}
      {% for field in tags %}
        {% for key, item in field if key|first != '#' %}
          {% set rendered_tags = rendered_tags ~ "#{item|render}, "  %}
        {% endfor %}
      {% endfor %}
      {{ rendered_tags|trim|slice(0, -1)|raw }}
    {% else %}
      {{ tags }}
    {% endif %}
    </dd>
    {% endif %}
    {% if audience is not empty %}
    <dt>{{ 'Audience'|t }}:</dt>
    <dd>
      {{ audience }}
    </dd>
    {% endif %}
    {% if more_info is not empty %}
    <dt>{{ 'More Info'|t }}:</dt>
    <dd>
      {{ more_info }}
    </dd>
    {% endif %}
  </dl>

  {{ content }}

  <div class="content-type__timestamp">{{ 'Last updated'|t }}: {{ updated }}</div>
</div>
