{#
/**
 * @file
 * Expandable banner pattern.
 */
#}

{% set classes = ['section-expandable-banner', 'js-section-expandable-banner', 'lazy-background'] %}
{% set header_vars = {'superhead': superhead, 'subhead': subhead, 'context': context} %}
{% set paragraph_id = 'paraID' ~ random() %}
{% set attributes = attributes.setAttribute('id', paragraph_id) %}

<style>
  #{{ paragraph_id}}.visible {background-image:url('{{~ image|get_img_src ~}}')};
</style>

<div{{ attributes.addClass(classes) }} {{ attributes }}>
  <div class="expandable-banner__header">
    {{ pattern('section_header', header_vars) }}
  </div>

  <div class="expandable-banner__container">
    <div class="expandable-cards">
      {# Break up the individual items in to the appropriate template var. #}
      {% for item in items %}
        {% if item.title %}
          {# Preview page. #}
          {{ pattern('expandable_card', item) }}
        {% else %}
          {# Entities. #}
          {{ item }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
