{#
/**
 * @file
 * Callout card pattern.
 */
#}
{% set attributes = attributes.addClass("callout-card") %}
<div{{ attributes }}>
  <div class="callout-card__title">
    <h3 class="callout-card__title--name">
      {{ link|openlink }}{{ title }}{{ link|closelink }}</h3>
  </div>
  {% if link|openlink is not empty %}
  {{ link|openlink({'class': 'callout-card__action', 'aria-label': "Navigate to "|t ~ title|render|striptags }) }}
    <svg class="i-svg i-svg--arrow-right" role="img"><title>{{ 'Navigate to item'|t }}</title><use xlink:href="#i-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
  {{ link|closelink }}
  {% endif %}
  {% if image is not empty %}
  <div class="callout-card__icon">{{ image }}</div>
  {% endif %}
</div>
