{#
/**
 * @file
 * Section Highlight Banner pattern.
 */
#}

{% set attributes = attributes.addClass(['section-highlight-banner', variants.height]) %}
{% if items|field_count == 1 %}
  {% set attributes = attributes.addClass('is-single') %}
{% endif %}

{% if image|get_img_src is not empty %}
  {% set paragraph_id = 'paraID' ~ random() %}
  {% set attributes = attributes.setAttribute('id', paragraph_id) %}
  {% set attributes = attributes.addClass('lazy-background') %}
{% endif %}

{% set header_vars = {'superhead': superhead, 'subhead': subhead, 'context': context} %}

<style>
  #{{ paragraph_id}}.visible {background-image:url('{{~ image|get_img_src ~}}')};
</style>
<div{{ attributes }} >
  <div class="highlight-banner__header">
    {{ pattern('section_header', header_vars) }}
  </div>

  <div class="highlight-banner__container">
    {{ pattern('highlight_cards', {'items': items, 'context': context}) }}
  </div>
</div>
