{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
<div class="block--field-s-news-date">
  {% for item in items %}
    <div{{ item.attributes.addClass("field--field-s-news-date") }}><svg class="i-svg" role="img" aria-labelledby="svg_clock"><title id="svg_clock">{{ 'Clock'|t }}</title><use xlink:href="#i-clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>{{ item.content }}</div>
  {% endfor %}
  <div class="field--field-s-news-date__actions">
    <div class="getsocial gs-inline-group"></div>
  </div>
</div>

{% if is_earth_matters %}
<div class="subscribe-wrapper">
  <a href="https://stanford.us7.list-manage.com/subscribe/post?u=167e9da7acec83c4cc802b3e7&id=69d6fa9e3a" class="button btn">
    <span class="sup">{{ 'Read more articles like this?'|t }}</span>
    <span>{{ 'Subscribe'|t }}</span>
    <span class="suf">{{ 'Stanford Earth Matters Magazine'|t }}</span>
  </a>
</div>
{% endif %}
