{#
/**
 * @file
 * Masonry Block pattern.
 */
#}

{% if variants.style == 'random' %}
  {% set variants = variants|merge({style: random([1, 2, 3, 'columns', 'full','tall','large', 'color', 'wide'])}) %}
{% endif %}

{% set attributes = attributes.addClass([
'masonry-block',
'js-masonry-item',
image|get_img_src is not empty ? 'has-image' : 'no-image',
image|get_img_src is not empty ? random(['has-image-right','has-image-left'])
]) %}

{% if variants.style  == 'large' and image|get_img_src is not empty %}
  {% set classes = ['is-wide', 'has-background', 'has-tint'] %}
{% elseif (variants.style  == 'wide' and image|get_img_src is not empty) %}
  {% set classes = ['is-wide'] %}
{% elseif (variants.style  == 'full' and image|get_img_src is not empty) %}
  {% set classes = ['is-full-width'] %}
{% elseif (variants.style  == 'columns' and image|get_img_src is not empty) %}
  {% set classes = ['has-columns'] %}
{% elseif variants.style  == 'tall' and image|get_img_src is not empty %}
  {% set classes = ['is-tall', 'has-background', 'has-tint'] %}
{% elseif variants.style  == 'color' and image|get_img_src is empty %}
  {% set classes = ['is-inverted'] %}
{% else %}
  {% set classes = ['is-column-width'] %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
  {% if image|get_img_src is not empty %}
    <div class="masonry-block__image">
      <div class="masonry-block__thumbnail">
        {{ image }}
      </div>
    </div>
  {% endif %}

  <div class="masonry-block__content">
    {% if tags is not empty %}
      <div class="masonry-block__tags">

        {% if tags is iterable %}
          {% for tag in tags %}
            {% set tag = tag|merge({'context': context}) %}
            {# Pass vars through to include template. #}
            {{ pattern('tag_item', tag) }}
          {% endfor %}
        {% else %}
          {{ tags }}
        {% endif %}

      </div>
    {% endif %}
    <div class="masonry-block__header">
      {% if title is not empty %}
        <h3 class="masonry-block__title"><a class="masonry-block__link"
                                            href="{{ link|render|striptags|trim|raw }}">{{ title }}</a></h3>
      {% endif %}
      {% if description is not empty %}
        <span class="masonry-block__description">{{ description }}</span>
      {% endif %}
      {% if action is not empty %}
        {{ link|openlink({class: 'masonry-block__button button__hollow--white'}) }}{{ action }}{{ link|closelink }}
      {% endif %}
    </div>
    {% if date is not empty %}

      <div class="masonry-block__footer">
        <div class="masonry-block__date">
          <svg class="i-svg"><use xlink:href="#i-clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>{{ date }}</div>

        {% if link|closelink %}
          <div class="masonry-block__actions">
            <span class="masonry-block__social-links">
              <a href="mailto:?subject={{ 'I wanted you to see this news article'|t }}&amp;body={{ 'Read more about:'|t }} {{ title|render|striptags|trim }} at {{ get_tag_attribute(link|openlink|render, "a", "href") }}" title="{{ 'Share by Email'|t }}" class="masonry-block__social-link masonry-block--mail" aria-label="{{ 'Send email'|t }}"><svg class="i-svg" role="img"><title>{{ 'Mail'|t }}</title><use xlink:href="#i-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ get_tag_attribute(link|openlink|render, "a", "href")|url_encode }}&title={{ title|render|striptags|trim|url_encode }}&source=LinkedIn" class='masonry-block__social-link masonry-block--linkedin linkedin-popup' aria-label='{{ "Share on LinkedIn"|t }}'><svg class="i-svg" role="img"><title>{{ 'LinkedIn'|t }}</title><use xlink:href="#i-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
              {{ link|openlink({class: 'masonry-block__social-link masonry-block--twitter tweet-popup', 'aria-label': 'Share on Twitter'|t }) }}<svg class="i-svg" role="img"><title>{{ 'Twitter'|t }}</title><use xlink:href="#i-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>{{ link|closelink }}
              <a class='masonry-block__social-link masonry-block--facebook facebook-popup' aria-label="{{ 'Share on Facebook'|t }}" title="{{ 'Share on facebook'|t }}" href="https://www.facebook.com/sharer/sharer.php?u={{ get_tag_attribute(link|openlink|render, "a", "href") }}"><svg class="i-svg" role="img"><title>{{ 'Facebook'|t }}</title><use xlink:href="#i-fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></a>
            </span>

            {{ link|openlink({'aria-label': "Navigate to "|t ~ title|render|striptags|preg_replace(":", "") }) }}<span class="masonry-block__arrow"><svg class="i-svg i-svg--arrow-right" role="img"><title>{{ 'Navigate to item'|t }}</title><use xlink:href="#i-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></span>{{ link|closelink }}
          </div>
        {% endif %}

      </div>
    {% endif %}
  </div>
</div>
