<div class="content-type-person">
  <div class="content-type-person_profile">
    {% if featured_image is not empty %}
    <div class="content-type__media">
      <figure>{{ featured_image }}</figure>
    </div>
    {% endif %}

    <div class="content-type__header">
      <div class="page-title"><h1>{{ first_name }} {{ last_name }}</h1></div>
      {% if sub_title|render|striptags|trim is not empty %}
      <div class="page-subtitle">
      {{ sub_title }}
      </div>
      {% endif %}

      <dl class="definition-list">
        {% if email|render|striptags|trim is not empty %}
        <dt>{{ "Email"|t }}:</dt>
        <dd>
          {{ email }}
        </dd>
        {% endif %}
        {% if phone|render|striptags|trim is not empty %}
        <dt>{{ "Phone"|t }}:</dt>
        <dd>
          {{ phone }}
        </dd>
        {% endif %}
        {% if office|render|striptags|trim is not empty %}
        <dt>{{ "Office"|t }}:</dt>
        <dd>
          {{ office }}
        </dd>
        {% endif %}
        {% if links|render|striptags|trim is not empty %}
        <dt>{{ "Links"|t }}:</dt>
        <dd>
          {{ links }}
        </dd>
        {% endif %}
      </dl>

      {% if profile_link|render|striptags|trim is not empty %}
        {{ profile_link }}
      {% endif %}

    </div>
  </div>

  {% if bio|render|striptags|trim is not empty %}
    <div class="content-type-person_bio">
      <h3 class="dash-header">{{ "Biography"|t }}</h3>
      {{ bio }}
    </div>
  {% endif %}
</div>
