<div class="content-type-person">
  <div class="content-type-person_profile">
    {% if featured_image is not empty %}
    <div class="content-type__media">
      <figure>{{ featured_image }}</figure>
    </div>
    {% endif %}

    <div class="content-type__header">
      <div class="page-title"><h1>{{ first_name }}</h1></div>
      {% if sub_title|render|striptags|trim is not empty %}
      <div class="page-subtitle">
        <ul>
          {{ sub_title }}
        </ul>
      </div>
      {% endif %}


        {% if email|render|striptags|trim is not empty %}
        <h2>{{ "Email"|t }}</h2>

          {{ email }}

        {% endif %}
        {% if phone|render|striptags|trim is not empty %}
        <h2>{{ "Phone"|t }}</h2>

          {{ phone }}

        {% endif %}
        {% if office|render|striptags|trim is not empty %}
        <h2>{{ "Office"|t }}</h2>

          {{ office }}

        {% endif %}
        {% if links|render|striptags|trim is not empty %}
        <h2>{{ "Links"|t }}</h2>

          <ul>{{ links }}</ul>

        {% endif %}



      {% if profile_link|render|striptags|trim is not empty %}
        {{ profile_link }}
      {% endif %}

    </div>
  </div>

  {% if bio|render|striptags|trim is not empty %}
    <div class="content-type-person_bio">
      {{ bio }}
    </div>
  {% endif %}
</div>
