{%
  set layouts = {
    "columns": ["content-type__media-container", "left-align-media", "vertical-expand-media", "is-columns"],
    "wide": ["content-type__media-container", "centered-media", "is-wide"]
  }
%}
{%
  set attributes = attributes.addClass(layouts[variants.layout])
%}
{#
  Change the image style for the wide option.
#}
{% if variants.layout == "wide" %}
  {% set field = featured_image['field_s_spotlight_featured_image'] %}
  {% set index = field[0] %}
  {% set style = index|merge({'#responsive_image_style_id': 'wide'}) %}
  {% set index = index|merge(style) %}
  {% set field = field|merge(index) %}
  {% set featured_image = featured_image|merge(field) %}
{% endif %}

<div{{ attributes }}>
  <div class="content-type__media-header">
    <div class="content-type__media">
      <figure>{{ featured_image }}</figure>
      {% if credit|render|trim is not empty %}
      <div class="photo-credit">{{ credit }}</div>
      {% endif %}
    </div>

    <div class="content-type__header">
      <div class="page-title"><h1>{{ title }}</h1></div>
      {% if first_name|render|striptags|trim is not empty or last_name|render|striptags|trim is not empty or department|render|striptags|trim is not empty %}
      <div class="page-subtitle">
        <h2>
          {% if first_name is not empty or last_name is not empty %}
          <span class="s-person-name__name">{{ first_name}} {{ last_name }}</span>
          {% endif %}
          {% if sub_title is not empty %}
          <span class="s-person-name__title">{{ sub_title }}</span>
          {% endif %}
          {% if department is not empty %}
          <span class="s-person-name__department">{{ department }}</span>
          {% endif %}
        </h2>
      </div>
      {% endif %}
      
      <div class="content-type-date">
        <span>{{ "Published"|t }}</span>
        <time>{{ created }}</time>
        <div class="content-type-date__actions social-actions">
          <div class="getsocial gs-inline-group"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-type-content" >
    {{ content }}
  </div>

</div>
