{%
  set layouts = {
    "columns": ["content-type__media-container", "left-align-media", "vertical-expand-media", "is-columns"],
    "wide": ["content-type__media-container", "centered-media", "is-wide"]
  }
%}
{%
  set attributes = attributes.addClass(layouts[variants.layout])
%}
{#
  Change the image style for the wide option.
#}
{% if variants.layout == "wide" %}
  {% set field = featured_image['field_s_spotlight_featured_image'] %}
  {% set index = field[0] %}
  {% set style = index|merge({'#responsive_image_style_id': 'wide'}) %}
  {% set index = index|merge(style) %}
  {% set field = field|merge(index) %}
  {% set featured_image = featured_image|merge(field) %}
{% endif %}

<div{{ attributes }}>
  <div class="content-type__media-header">
    <div class="content-type__media">
      <figure>{{ featured_image }}</figure>
      {% if credit|render|trim is not empty %}
      <div class="photo-credit">{{ credit }}</div>
      {% endif %}
    </div>

    <div class="content-type__header">
      <div class="page-title"><h1>{{ title }}</h1></div>
      <div class="page-subtitle">
        <h2>
          {% if first_name is not empty or last_name is not empty %}
          <span class="s-person-name__name">{{ first_name}} {{ last_name }}</span>
          {% endif %}
          {% if sub_title is not empty %}
          <span class="s-person-name__title">{{ sub_title }}</span>
          {% endif %}
          {% if department is not empty %}
          <span class="s-person-name__department">{{ department }}</span>
          {% endif %}
        </h2>
      </div>

      <div class="content-type-date">
        <span>{{ "Published"|t }}</span>
        <time>{{ created }}</time>
        <div class="content-type-date__actions social-actions">
          <div class="tweet-popup sharrre" data-title="<i class='fa fa-twitter' aria-hidden='true'></i>" data-text="{{ node_title|render|striptags|trim }}" data-url="{{ url("<current>") }}">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="tweet-popup">
              <svg class="i-svg" role="img">
                <title>{{ 'twitter'|t }}</title>
                <use xlink:href="#i-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </div>
          <div class="facebook-popup sharrre" data-title="<i class='fa fa-facebook' aria-hidden='true'></i>" data-text="{{ node_title|render|striptags|trim }}" data-url="{{ url("<current>") }}">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" class="facebook-popup">
              <svg class="i-svg" role="img">
                <title>{{ 'facebook'|t }}</title>
                <use xlink:href="#i-fb" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </div>
          <div class="linkedin-popup sharrre" data-title="<i class='fa fa-linkedin' aria-hidden='true'></i>" data-text="{{ node_title|render|striptags|trim }}" data-url="{{ url("<current>") }}">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('<current>') }}&title={{ node_title|render|striptags|trim|url_encode }}&source=LinkedIn" class="linkedin-popup">
              <svg class="i-svg" role="img">
                <title>{{ 'linkedin'|t }}</title>
                <use xlink:href="#i-linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </div>
          <div class="email-popup">
            <a href="mailto:?subject={{ 'I wanted you to see this news article'|t }}&amp;body={{ 'Read more about:'|t }} at {{ node_title|render|striptags|trim }} {{ url("<current>") }}" title="{{ 'Share by Email'|t }}">
              <svg class="i-svg" role="img">
                <title>{{ 'mail'|t }}</title>
                <use xlink:href="#i-mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-type-content" >
    {{ content }}
  </div>

</div>
